@import '../bower_components/fontawesome/css/font-awesome.css';
body {
  background: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
  background-color: #e3e3e3;
}
.hero-unit {
  margin: 45px auto 45px auto;
  width: 675px;
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
  background-color: #eee;
  border-radius: 6px;
  padding: 60px;
  display: none;
}
.hero-unit h1 {
  font-size: 60px;
  line-height: 1;
  letter-spacing: -1px;
}
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
.thumbnail-wrapper {
  width: 25%;
  float: left;
}
.thumbnail-wrapper .highcharts-container {
  -webkit-transition: all ease-out 1s;
  -moz-transition: all ease-out 1s;
  transition: all ease-out 1s;
}
.thumbnail-wrapper svg {
  filter: grayscale(100%);
  -webkit-transition: all ease-out 1s;
  -moz-transition: all ease-out 1s;
  transition: all ease-out 1s;
}
.thumbnail-wrapper:hover .highcharts-container {
  position: absolute;
  -webkit-transition: all ease-out 1s;
  -moz-transition: all ease-out 1s;
  transition: all ease-out 1s;
}
.thumbnail-wrapper:hover svg {
  filter: grayscale(50%);
  -webkit-transition: all ease-out 1s;
  -moz-transition: all ease-out 1s;
  transition: all ease-out 1s;
}
.thumbnail-wrapper-long {
  width: 50%;
}
.pad {
  padding: 0px 5px 10px 5px;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.thumbnail-graph-wrapper {
  overflow: hidden;
  width: 100%;
  z-index: 100;
  height: 400px;
  background-color: #ffffff;
  border: 1px solid #BFBFBF;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.graph-top-layer {
  z-index: 1000;
  position: absolute;
  width: 25%;
  height: 410px;
  margin: -4px 0px 0px -4px;
}
.graph-top-layer:hover {
  -webkit-box-shadow: inset 0px 0px 0px 5px #c17962;
  -moz-box-shadow: inset 0px 0px 0px 5px #c17962;
  box-shadow: inset 0px 0px 0px 5px #c17962;
  cursor: pointer;
}
.graph-top-layer-long {
  width: 50%;
}
.block {
  position: relative;
  margin: 0 auto;
}
.highcharts-container {
  width: inherit !important;
  height: 100% !important;
}
.chart-action-btn {
  position: relative;
  width: 145px;
}
.new-chart-name {
  display: none;
  width: 300px;
  position: relative;
  margin: 0 auto;
  margin-bottom: 5px;
  margin-top: 5px;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.new-chart-name menu {
  float: right;
  padding: 0px;
  margin: 7px 0px 0px;
}
.chart-rename-btn {
  top: 0px;
}
.cancel-chart-rename-btn {
  width: 50px;
  left: 235px;
}
#chart-name {
  height: 22px;
  margin: 5px 5px 8px;
  width: 140px;
  border: none;
  background-color: #FFF;
  padding-left: 5px;
}
#chart-name::-webkit-input-placeholder {
  color: #c0392b;
  text-indent: 20px;
}
#chart-name:-moz-placeholder {
  color: #c0392b;
  text-indent: 20px;
}
#chart-name::-moz-placeholder {
  color: #c0392b;
  text-indent: 20px;
}
#chart-name:focus {
  outline: 0;
}
#chart-name:focus::-webkit-input-placeholder {
  color: transparent;
  text-indent: 20px;
}
#chart-name:focus:-moz-placeholder {
  color: transparent;
  text-indent: 20px;
}
#chart-name:focus::-moz-placeholder {
  color: transparent;
  text-indent: 20px;
}
menu {
  padding-left: 0px;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
menuitem {
  cursor: pointer;
  text-shadow: 1px 1px 1px #d2d2d2;
  font-size: 15px;
}
menuitem:hover i {
  color: #c0392b;
}
.undln {
  border-bottom: 1px solid rgba(0, 0, 0, 0.56);
}
.undln i {
  color: #c0392b;
}
.undln:hover {
  cursor: default;
}
.chart-btns {
  width: 100%;
  text-align: center;
}
.apply-chart-rename-btn:hover i {
  color: #45b33d;
}
.cancel-chart-rename-btn:hover i {
  color: #b39942;
}
.chart-full-wrapper {
  border: 1px solid #BFBFBF;
}
.chart-full-wrapper svg {
  filter: invert(5%);
}
.brickred {
  color: #c0392b;
}
.code {
  font-size: 15px;
  line-height: 1;
}
